# creating a empty dataframe

In [1]:
import pandas as pd

In [2]:
emty_df = pd.DataFrame()
print(emty_df)

Empty DataFrame
Columns: []
Index: []

# creating dataframe in list

In [3]:
list = [1,2,3,4,5]

In [4]:
list

[1, 2, 3, 4, 5]

In [5]:
df = pd.DataFrame(list)

In [6]:
df

   0
0  1
1  2
2  3
3  4
4  5

In [7]:
# creating a dataframe in list in list

In [8]:
list_of_list = [[1,2,3,4],[4,5,6,7]]

In [9]:
df2 = pd.DataFrame(list_of_list)

In [10]:
df2

   0  1  2  3
0  1  2  3  4
1  4  5  6  7

In [11]:
#creating a dataframe in dict

In [19]:
dict = {'ID':[1,2,3,4]}

In [20]:
dict

{'ID': [1, 2, 3, 4]}

In [21]:
df3 = pd.DataFrame(dict)

In [22]:
df3

   ID
0   1
1   2
2   3
3   4

In [24]:
dict2 = {'ID':[1,2,3,4], 'sr':[5,6,7,8]}

In [25]:
dict2

{'ID': [1, 2, 3, 4], 'sr': [5, 6, 7, 8]}

In [26]:
df4 = pd.DataFrame(dict2)

In [27]:
df4

   ID  sr
0   1   5
1   2   6
2   3   7
3   4   8

In [28]:
# creating dataframe from list of dict

In [29]:
list_dict = [{'a':1,'b':2}]

In [30]:
list_dict

[{'a': 1, 'b': 2}]

In [31]:
df5 = pd.DataFrame(list_dict)

In [32]:
df5

   a  b
0  1  2

In [35]:
list_dict2 = [{'a':1,'b':2},{'a':2,'b':3,'c':4}]

In [36]:
df6 = pd.DataFrame(list_dict2)

In [37]:
df6

   a  b    c
0  1  2  NaN
1  2  3  4.0

In [38]:
#creating a dataframe in dict of series

In [39]:
dict_str = {'id':pd.Series([1,2,3]),'sn':pd.Series([3,4,5])}

In [40]:
df7 = pd.DataFrame(dict_str)

In [41]:
df7

   id  sn
0   1   3
1   2   4
2   3   5